@font-face {
  src: url('../fonts/BenderRegular.woff');
  font-family: "Bender";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/BenderLight.woff');
  font-family: "Bender";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/BenderBold.woff');
  font-family: "Bender";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/BenderBlack.woff');
  font-family: "Bender";
  font-weight: 900;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Bender", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.cr-top {
  background-position: center;
  background-size: cover;
  &__mobile {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  &__droper {
    display: none;
    padding: 10px;
    cursor: pointer;
  }
  &__info {
    display: block;
    padding: 20px 0;
    &>.container {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;
    }
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
    p {
      display: inline-block;
      margin: 0 50px 0 0;
    }
    b,
    strong {
      font-size: 16px;
      font-weight: 700;
    }
    a {
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.8px;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        text-decoration: none;
      }
    }
  }
  &__main {
    display: block;
    background: rgba(255, 230, 0, 0.7);
    &>.container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 12px 0 12px 35px;
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
    &-toggle {
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      right: 0;
      top: 10px;
      background: url('../images/arrow.png') no-repeat right center;
    }
    &-droper {
      position: relative;
      padding-right: 30px;
      &>a {}
    }
    &-drop {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      width: 240px;
      margin: 0;
      padding: 0;
      padding: 12px 0;
      list-style: none;
      background: rgba(0, 0, 0, 0.95);
      text-align: right;
      z-index: 1;
      li {
        display: block;
        a {
          display: block;
          padding: 12px 24px;
          color: #ffffff;
          font-size: 18px;
          font-weight: 400;
          text-decoration: none;
          transition: all 0.15s ease-out;
          &:hover,
          &:active,
          &:focus {
            opacity: 0.6;
            text-decoration: none;
          }
        }
      }
    }
  }
  &__logo {
    display: inline-block;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
  }
}

.cr-slick {
  display: block;
  padding: 140px 0;
  &__card {
    display: block;
    height: 300px;
    overflow-y: auto;
    p {
      display: block;
      margin-bottom: 30px;
      color: #ffffff;
      font-size: 59px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.8px;
    }
  }
  &__link {
    display: inline-block;
    padding: 22px 40px;
    border: 1px solid #00a1e6;
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #00a1e6;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .slick-dots {
    bottom: auto;
    margin-top: 40px;
    text-align: left;
  }
  .slick-dots li button::before {
    content: '' !important;
    width: 17px;
    height: 17px;
    background: #00a1e6;
  }
}

.cr-pre-title {
  display: block;
  margin: 0 auto 2px auto;
  opacity: 0.5;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
}

.cr-title {
  display: block;
  position: relative;
  margin: 0 auto 85px auto;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  text-align: center;
  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 60px;
    height: 4px;
    left: 50%;
    top: 100%;
    margin-top: 18px;
    margin-left: -30px;
    background-color: #00a1e6;
  }
}

.cr-services {
  display: block;
  padding: 80px 0 50px 0;
  background-color: #060606;
  background-image: linear-gradient(-96deg, #080808 0%, #080808 100%);
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 250px;
    height: 185px;
    margin: 0 13px 30px 13px;
    border-radius: 3px;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 18px 35px rgba(0, 161, 230, 0.61);
      text-decoration: none;
      .cr-services__card-title {
        height: 100%;
      }
    }
    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 60px;
      padding: 2px 10px;
      background-color: rgba(0, 0, 0, 0.65);
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.8px;
      text-align: center;
      transition: all 0.15s ease-out;
      span {
        display: inline;
        color: #ff0000;
      }
    }
  }
}

.cr-why {
  display: block;
  padding: 80px 0 0 0;
  background: url('../images/why_bg.jpg') no-repeat center;
  background-size: cover;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 330px;
    margin-bottom: 80px;
    text-align: center;
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      margin-bottom: 25px;
      img {
        display: inline-block;
        max-width: 100%;
      }
    }
    &-title {
      display: block;
      margin-bottom: 14px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      text-align: center;
    }
    p {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.7;
      letter-spacing: 0.7px;
      text-align: center;
    }
  }
}

.cr-about {
  display: block;
  padding: 80px 0;
  background-color: #000000;
  background-image: linear-gradient(-96deg, #101014 0%, #0c0d10 100%);
  &__cards {
    display: block;
    .slick-prev {
      top: auto;
      bottom: 0;
      right: auto;
      left: 0;
      width: 94px;
      height: 77px;
      background: url('../images/icon_prev.png') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
    .slick-next {
      top: auto;
      bottom: 0;
      right: auto;
      left: 94px;
      width: 94px;
      height: 77px;
      background: url('../images/icon_next.png') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
  }
  &__card {
    display: block;
    width: 100%;
    height: 580px;
    img,
    iframe {
      display: block;
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.cr-form {
  display: block;
  padding: 0;
  background: url('../images/form_bg.jpg') no-repeat center;
  background-size: cover;
  .col-md-6 {
    position: relative;
  }
  &__title {
    display: block;
    margin-top: 90px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
  }
  &__man {
    display: block;
    position: absolute;
    max-width: 100%;
    bottom: 0;
  }
  p {
    display: block;
    margin-bottom: 36px;
    opacity: 0.5;
    color: #ffffff;
    line-height: 2;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 385px;
    margin-bottom: 90px;
     ::-webkit-input-placeholder {
      color: #ffffff;
    }
     ::-moz-placeholder {
      color: #ffffff;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #ffffff;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #ffffff;
    }
    input {
      display: block;
      width: 100%;
      margin-bottom: 8px;
      padding: 20px 30px;
      border-radius: 3px;
      border: 1px solid rgba(255, 255, 255, 0.44);
      outline: none;
      background-color: transparent;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.8px;
    }
    button {
      display: block;
      width: 100%;
      padding: 20px;
      border-radius: 3px;
      border: 1px solid rgba(0, 161, 230, 0.98);
      outline: none;
      background-color: #00a1e6;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #ffffff;
        color: #00a1e6;
        text-decoration: none;
      }
    }
  }
}

.cr-reviews {
  display: block;
  padding: 80px 0;
  background-color: #000000;
  background-image: linear-gradient(-96deg, #101014 0%, #0c0d10 100%);
  &__cards {
    display: block;
    padding-bottom: 130px;
    .slick-dots {
      bottom: auto;
      margin-top: 52px;
      padding: 28px;
      padding-right: 35px;
      background-color: rgba(0, 161, 230, 0.1);
      text-align: right;
    }
    .slick-dots li button::before {
      content: '' !important;
      width: 17px;
      height: 17px;
      background: #ffffff;
    }
    .slick-prev {
      top: auto;
      bottom: 0;
      right: auto;
      left: 0;
      width: 94px;
      height: 77px;
      background: url('../images/icon_prev.png') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
    .slick-next {
      top: auto;
      bottom: 0;
      right: auto;
      left: 94px;
      width: 94px;
      height: 77px;
      background: url('../images/icon_next.png') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
  }
  &__card {
    display: inline-flex !important;
    align-items: center;
    width: 100%;
    max-width: 520px;
    &>img {
      display: inline-block;
      width: 170px;
      height: 170px;
      margin-right: 30px;
      border-radius: 999rem;
      object-fit: cover;
    }
    &-content {
      display: inline-block;
      width: 100%;
      p {
        display: block;
        max-height: 96px;
        margin-bottom: 12px;
        overflow: hidden;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
      }
    }
    &-author {
      display: block;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.cr-seo {
  display: block;
  padding: 80px 0 50px 0;
  background: url('../images/seo_bg.jpg') no-repeat center;
  background-size: cover;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.8px;
  &__title {
    display: block;
    margin-bottom: 46px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 0.8;
    text-align: center;
  }
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 30px;
    font-weight: 300;
  }
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin-bottom: 30px;
      padding-left: 35px;
      background: url('../images/icon_li.png') no-repeat left 6px;
      font-weight: 300;
    }
  }
  a {
    display: inline;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.cr-companies {
  display: block;
  padding: 70px 0 130px 0;
  background-color: #000000;
  background-image: linear-gradient(-96deg, #101014 0%, #0c0d10 100%);
  &__cards {
    display: block;
    .slick-dots {
      bottom: auto;
      margin-top: 100px;
      text-align: center;
    }
    .slick-dots li button::before {
      content: '' !important;
      width: 17px;
      height: 17px;
      background: #ffffff;
    }
  }
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 260px;
    height: 110px;
    margin: 0 auto;
    border-radius: 3px;
    background-color: #ffffff;
    img {
      display: block;
      max-width: 250px;
      max-height: 100px;
    }
  }
}

.cr-bottom {
  display: block;
  position: relative;
  &__map {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  &>.container {
    padding: 100px 0 35px 0;
  }
  &__block {
    display: block;
    width: 100%;
    max-width: 420px;
    padding: 45px 20px 45px 40px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.8);
    &-email {
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: #ffffff;
      font-size: 16px !important;
      font-weight: 400;
      letter-spacing: 0.8px;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        text-decoration: none;
      }
    }
    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        display: inline-block;
        margin-right: 15px;
      }
      p {
        display: block;
        margin: 0;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
      }
      a {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          border-color: transparent;
          text-decoration: none;
        }
      }
      b,
      strong {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  &__main {
    display: block;
    padding: 20px 0 25px 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 12px 20px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
  }
  &__creators {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    a {
      display: inline;
      margin-left: 6px;
      margin-top: 2px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        text-decoration: none;
      }
    }
  }
}

.cr-page {
  display: block;
  padding: 65px 0 60px 0;
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 59px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-align: center;
  }
}

.cr-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  color: #c5ba22;
  letter-spacing: 0.55px;
  li {
    display: inline-block;
    a {
      display: inline-block;
      color: #ffffff;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
    span {
      display: inline-block;
      margin: 0 20px;
      color: #ffffff;
    }
  }
}

.cr-article {
  display: block;
  padding: 100px 0;
  background-color: #060606;
  background-image: linear-gradient(-96deg, #080808 0%, #080808 100%);
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
  p {
    display: block;
    max-width: 930px;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.8px;
  }
  ul {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    list-style: none;
    li {
      display: block;
      margin-bottom: 30px;
      padding-left: 35px;
      background: url('../images/icon_li.png') no-repeat left 4px;
      font-weight: 300;
    }
  }
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0 0 30px 0;
  font-weight: 400;
  line-height: 0.8;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

.cr-gallery {
  display: block;
  padding: 100px 0;
  background-color: #060606;
  background-image: linear-gradient(-96deg, #080808 0%, #080808 100%);
  &__cards {
    display: block;
  }
  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 244px;
    height: 160px;
    margin: 0 15px 30px 15px;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      .cr-gallery__card-overlay {
        display: block;
      }
      text-decoration: none;
    }
    &-overlay {
      display: none;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 231, 0, 0.7);
      transition: all 0.15s ease-out;
    }
  }
}

.cr-price {
  display: block;
  padding: 100px 0;
  background-color: #060606;
  background-image: linear-gradient(-96deg, #080808 0%, #080808 100%);
  .table tbody td,
  .table tbody th {
    padding: 16px 35px;
    border-top: 1px solid rgba(238, 238, 238, 0.17);
    background-color: #111111;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
  }
  .table thead tr,
  .table thead th {
    padding: 16px 35px;
    border: none;
    background-color: #00a0e6;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
  }
}

.cr-vacancies {
  display: block;
  padding: 100px 0;
  background-color: #060606;
  background-image: linear-gradient(-96deg, #080808 0%, #080808 100%);
}

.cr-collapse {
  display: block;
  margin-bottom: 12px;
  box-shadow: 0 7px 12px 1px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  background-color: #00a0e6;
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    cursor: pointer;
    span {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
    }
    &-arrow {
      display: inline-block;
      width: 27px;
      height: 27px;
      background-image: url('../images/icon_collapse.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.15s ease-out;
      &_rotated {
        background-image: url('../images/icon_collapse_2.png') !important;
      }
    }
  }
  &__content {
    display: none;
    padding: 0 30px 45px 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    p {
      display: block;
      max-width: 750px;
      margin-bottom: 25px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    ul {
      display: block;
      margin: 0;
      padding: 0;
      margin-bottom: 30px;
      list-style: none;
      li {
        display: block;
        margin-bottom: 10px;
        padding-left: 35px;
        background: url('../images/icon_li_2.png') no-repeat left 4px;
        font-weight: 300;
      }
    }
  }
  &__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 680px;
    margin-bottom: 35px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &_dark {
    box-shadow: 0 7px 12px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.14);
    background: transparent !important;
  }
}