@media (min-width: 992px) {
  .cr-top {
    &__nav {
      &-droper {
        &:hover {
          .cr-top__nav-drop {
            display: block !important;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
  .cr-top__mobile {
    display: flex;
    width: 100%;
  }
  .cr-top__droper {
    display: inline-block;
  }
  .cr-top__main {
    padding: 15px 0;
  }
  .cr-top__info>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .cr-top__info p {
    margin: 0 0 2px 0;
  }
  .cr-top__info {
    padding: 10px 0;
  }
  .cr-top__nav li a {
    padding: 8px 24px;
  }
  .cr-top__nav {
    width: 100%;
    text-align: center;
    li {
      display: block;
      a {
        display: block;
      }
    }
  }
  .cr-top__nav {
    display: none;
  }
  .cr-slick {
    padding: 30px 0;
    br {
      content: ' '
    }
    br:after {
      content: ' '
    }
  }
  .cr-slick__card p {
    font-size: 32px;
  }
  .cr-slick .slick-dots {
    margin-top: -20px;
  }
  .cr-services {
    padding: 30px 0 0 0;
  }
  .cr-title {
    margin-bottom: 60px;
  }
  .cr-why {
    padding: 30px 0 0 0;
  }
  .cr-why__card-image {
    margin-bottom: 5px;
  }
  .cr-why__card {
    margin-bottom: 20px;
  }
  .cr-why__cards {
    justify-content: space-around;
  }
  .cr-form__man {
    display: none;
  }
  .cr-about {
    padding: 30px 0;
  }
  .cr-about__card {
    height: 300px;
  }
  .cr-form__title {
    margin-top: 30px;
    text-align: center;
  }
  .cr-form p {
    margin-bottom: 20px;
    text-align: center;
  }
  .cr-form form {
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .cr-reviews {
    padding: 30px 0;
  }
  .cr-seo {
    padding: 40px 0 10px 0;
  }
  .cr-seo__title {
    margin-bottom: 20px;
  }
  .cr-companies {
    padding: 30px 0 50px 0;
  }
  .cr-companies__cards .slick-dots {
    margin-top: 30px;
  }
  .cr-bottom__map {
    position: relative;
    height: 300px;
  }
  .cr-bottom>.container {
    padding: 20px 0;
  }
  .cr-page {
    padding: 40px 0;
  }
  .cr-page__title {
    font-size: 44px;
  }
  .cr-article {
    padding: 30px 0;
  }
  .cr-gallery {
    padding: 30px 0 0 0;
  }
  .cr-gallery__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .cr-price {
    padding: 30px 0;
  }
  .cr-vacancies {
    padding: 30px 0;
  }
  .cr-top__info {
    font-size: 14px;
  }
  .cr-top__main {
    padding: 5px;
  }
  .cr-slick__card {
    height: 360px;
  }
  .cr-top__nav-drop {
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
  .cr-top__nav {
    &>li {
      &>a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }
  .cr-top__nav-droper {
    padding-right: 0;
  }
  .cr-top__nav-toggle {
    width: 32px;
    height: 32px;
    top: 3px;
    z-index: 8;
  }
}

@media (max-width: 767px) {}